.calendarPage {
    min-height: 600px;
    margin-top: 70px;
}

.calendarPage__header {
    text-align: center;
    padding: 40px 0;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
}

.calendarPage__container {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 242px);
    column-gap: 90.7px;
}