.eventPage {
    margin-top: 100px;
}

.eventPage__header {
    min-height: 600px;
    display: grid;
    grid-template-columns: 6fr 5fr;
}

.eventPage__img {
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventPage__img img {
    width: 90%;
    padding: 20px;
}

.eventPage__text {
    border: 1px black solid;
    border-right: none;
    border-left: none;
}

.eventPage__container h1 {
    font-size: 50px;
}

.eventPage__container {
    padding-left: 20px;
}

.eventPage__date span,
.eventPage__place span{
    padding-right: 15px;
    border-bottom: 1px black solid;
}

.eventPage__date {
    padding: 25px 0;
    font-size: 20px;
}

.eventPage__place {
    font-size: 20px;
}

.eventPage__button {
    padding-top: 25px;
}